<h1>全ユーザー一覧</h1>
<ul>
  <% @posts.each do |post| %>
    <li>
      <% post.images.each do |image| %>
        <%= image_tag(image, width:100) %> - <%= post.body %>
      <% end %>
      <%= link_to '削除', admin_post_path(post), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    </li>
  <% end %>
</ul>