@use '~bootstrap/scss/bootstrap';

.header-color {
  background-color: #81C8B6 !important;
}

.nav-link {
  color: #fff !important;
}

.text-area {
  width: 500px;
}

.post-text {
  overflow-wrap: break-word;
}